.main {
  margin: 1em;
  width: 40px;
}

.main:after,
.main:before,
.main div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}

.main:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.main:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.main:hover div {
  transform: scale(0);
}
