.backdrop {
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  max-width: 450px;
  z-index: 1001;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
}
